body{
    background-image: url(mainpage.png);
    background-color: rgb(234, 234, 236);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.nav{
    background-color: rgb(0,76,113);
    display: grid;
    grid-template-columns:repeat(4,1fr);
    border-radius: 5px;
    overflow: hidden;
}
.nav a{
    color:ghostwhite;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}
.main{
    width: 740px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(0,76,113);
    border: 2px black solid;
    border-radius: 5px;
    color: ghostwhite;
}
.title{
    padding-top: 500px;
    font-size: 33px;
    margin-bottom: 0px;
}
.time{
    font-size: 12px;
    margin-top: 0px;
}
.contents{
    margin-left: 100px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: left;
}
.sub_list
{
    padding-left: 20px;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#home{
    width: 950px;
}
#main_title{
    padding-top: 30px;
}
#end_contents{
    margin-bottom: 57px;
}
.sub_section{
    width: 1130px;
    display: grid;
    grid-template-columns: 280px 680px;
    margin-left: auto;
    margin-right: auto;
}
.list{
    background-color: rgb(0,76,113);
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 0px;
    border: 2px black solid;
    border-radius: 5px;
    color: ghostwhite;
    }
.title_list{
    margin-top: 15px;
}
ul,li{
    font-size: 18px;
}
li ul li{
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.study_title{
    padding-top: 30px;
    font-size: 33px;
    margin-bottom: 0px;
}
